<app-header (newItemEvent)="sendSearch($event)" ></app-header>
<div class="container">
    <div class="container-pokemons">
        <ng-container *ngFor="let pokemon of entrityPokemon; let i = index ">
            <div (click)="onPokemon(pokemon)" class="pokemon col ta__center">
                <img [src]="pokemon.sprites.front_default" alt="">
                <span> {{pokemon.name | uppercase}}</span>
            </div>
        </ng-container>
    </div>
    <div class="container-pokedex">
        <div class="pokedex ta__center">
            <img [src]="pokemonActive" class="w--50">
            <div class="row jc__spacearaound w--100">
            <i class="fas fa-caret-left fs--100 pointer"></i>
            <i class="fas fa-caret-right fs--100 pointer"></i>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>