<app-header></app-header>
<div class="container">
    <div class="container-pokemons">
        <ng-container  *ngFor="let pokemon of entrityPokemon; let i = index ">
            <div (click)="onPokemon(pokemon)" class="pokemon col ta__center">
                <img [src]="pokemon.sprites.front_default" alt=""> 
                <span> {{pokemon.name | uppercase}}</span>
            </div>
        </ng-container>  
    </div> 
    <div class="container-pokedex">
            <!-- <button #submit (click)="nextPokemon()" > Submit </button> -->
            <!-- <div class="pokedex">
            </div> -->

            <img [src]="pokemonActive">
    </div>

</div>
<app-footer></app-footer>