@import '../../../styles.scss';
.container{
    
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    padding: 3%;
    .container-pokemons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 2% 4%;
        overflow-y: scroll;
        .pokemon{
            border: 1px solid $primary-color;
            border-radius: 10px;
            cursor: pointer;
            &:active{
                background: red;
            }
            &:hover{
                background: $primary-color;
            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .container-pokedex{
        padding: 0 4%;
        .pokedex{
            background: $primary-color;
            height: 100%;
            display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        }
    }
    
}