/* You can add global styles to this file, and also import other style files */
$primary-color:  orange;

body{
    margin: 0px;
    &::-webkit-scrollbar{
        display: none;
    }
}

.primary__color{
    color: $primary-color;
}


.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.ta{
    &__center{
        text-align: center;
    }
}

.jc{
    &__spacearaound{
        justify-content: space-around;
    }
}

.w{
    &--100{
        width: 100%;
    }
    &--50{
        width: 50%;
    }
}

.fs{
    &--100{
        font-size: 100px;
    }
}

.pointer{
    cursor: pointer;
}